.upload-button-container {
  justify-content: center;
  margin-top: 1rem;
  #pdf-file {
    display: none;
  }
  label.btn  {
    display: block;
    padding: 10rem 2rem;
    cursor: pointer;
    font-size: 3rem;
    border: 2px dashed;
    span.fa {
      margin-right: 2rem;
    }
  }
}