<div class="row">
  <section class="col-6">
    <accordion  [closeOthers]="true" [isAnimated]="true">
      <accordion-group heading="Personal Details" [isOpen]="true">
        Personal Details Form
      </accordion-group>
      <accordion-group heading="Address Information">
        Address Information Form
      </accordion-group>
      <app-form-generator></app-form-generator>
    </accordion>
  </section>
  <section class="col-6">
    <div class="canvas-container">
      <canvas id="document-viewer"></canvas>
    </div>
  </section>
</div>