section.col-6 {
  border: 1px solid #fff;
}

#document-viewer {
  border: 1px solid #333;
}

div.canvas-container {
  width: 100%!important;
  height: 100% !important;
}

:host /deep/ fabric {
  div.canvas-container {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0;
    left: 0;
  }
}