// stylelint-disable
// Bootstrap overrides

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions:              true !default;

// Body
//
// Settings for the `<body>` element.

$body-bg:                         #e4e5e6 !default;

// Components
//
// Define common padding and border radius sizes and more.

$border-color:                    $gray-300 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:                  .875rem !default;

// Breadcrumbs

$breadcrumb-bg:                   #fff !default;
$breadcrumb-margin-bottom:        1.5rem !default;
$breadcrumb-border-radius:        0 !default;

// Cards

$card-border-color:               $gray-300 !default;
$card-cap-bg:                     $gray-100 !default;

// Dropdowns

$dropdown-padding-y:              0 !default;
$dropdown-border-color:           $gray-300 !default;
$dropdown-divider-bg:             $gray-200 !default;

// Buttons

$btn-secondary-border:            $gray-300 !default;

// Progress bars

$progress-bg:                     $gray-100 !default;

// Tables

$table-bg-accent:                 $gray-100 !default;
$table-bg-hover:                  $gray-100 !default;

// Forms

$input-group-addon-bg:            $gray-100 !default;
$input-border-color:              $gray-700 !default;
$input-group-addon-border-color:  $gray-200 !default;

// Variables ===================================================================

// Buttons =====================================================================

.btn {

    &:focus,
    &:active,
    &:active:focus,
    &.active:focus {
      outline: none;
    }

    &-secondary {
      background-color: $white;
      border-color: #ccc;
      color: $gray-900;

      &:hover {
        background-color: $gray-300;
        border-color: $gray-500;
        color: $gray-900;
      }

      &.disabled {
        background-color: $white;
        border-color: lighten(#ccc, 5%);
        color: lighten($gray-900, 5%);
      }
    }

    &-warning {
      color: $white;
    }

    &-primary:focus {
      box-shadow: 0 0 5px lighten($primary, 10%);
    }

    &-secondary:focus {
      box-shadow: 0 0 5px $gray-400;
    }

    &-success:focus {
      box-shadow: 0 0 5px lighten($success, 10%);
    }

    &-info:focus {
      box-shadow: 0 0 5px lighten($info, 10%);
    }

    &-warning:focus {
      box-shadow: 0 0 5px lighten($warning, 10%);
    }

    &-danger:focus {
      box-shadow: 0 0 5px lighten($danger, 10%);
    }

    &.disabled:focus {
      box-shadow: none;
    }

  }

  // Typography ==================================================================

  // Tables ======================================================================

  .table .thead-dark th {
    background-color: $secondary;
    border-color: $table-border-color;
  }

  // Forms =======================================================================

  .form-control:focus {
    box-shadow: 0 0 5px rgba(100,65,164,.4);
  }

  // Navs ========================================================================

  .nav-tabs {

    .nav-link,
    .nav-link.active {
      border-width: 0 0 1px 0;
    }

    .nav-link:hover,
    .nav-link.active,
    .nav-link.active:hover,
    .nav-link.active:focus {
      border-bottom: 1px solid $primary;
    }

    .nav-item + .nav-item {
      margin-left: 0;
    }
  }

  .breadcrumb {
    &-item.active {
      color: $gray-700;
    }
  }

  // Indicators ==================================================================

  .badge {
    padding-bottom: 0.4em;

    &-secondary,
    &-warning {
      color: $white;
    }
  }

  // Progress bars ===============================================================

  .progress {
    height: 8px;
  }

  // Containers ==================================================================

  .list-group {

    &-item {
      color: rgba(255, 255, 255, 0.8);

      &.active,
      &:hover,
      &:focus {
        color: #fff;
      }

      &.active {
        font-weight: bold;

        &:hover {
          background-color: $list-group-hover-bg;
        }
      }

      &.disabled:hover {
        color: $list-group-disabled-color;
      }
    }
  }
