<div class="row">
  <section class="col-6">
    <div *ngIf="formGroups && formGroups.length > 0">
      <form [formGroup]="form">
        <accordion [closeOthers]="true" [isAnimated]="true">
          <accordion-group *ngFor="let formGroup of formGroups" heading="{{formGroup.settings.formGroupTitle}}">
            <app-form-generator [parentForm]="form" [formConfig]="formGroup"></app-form-generator>
          </accordion-group>
        </accordion>
      </form>
    </div>
  </section>
  <section class="col-6 padding-none">
    <lib-pdf-highlighter
      [pdf]="pdfFile"
      [showHighlighter]="showHighlighter"
      [highlighterConfig]="highlighter"
    ></lib-pdf-highlighter>
  </section>
</div>
<div>
    <button (click)="onDownload()" class="btn btn-primary">
        <span class="fa fa-download"></span>
        Download
    </button>
</div>
